/* {
    *  do as u wish , ask gpt 
} 
*/

body {
  margin: 0.2rem;
  padding: 0;
}

.logo {
  width: 7rem;
  padding : 0rem;
  margin: 0.2rem;
  border-radius: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid black;
  border-radius: 1rem;
}
.nav-items{
    margin-right: 1rem;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

/* 
.nav-items > ul > li{
    padding-left: 1rem;
    padding-right: 1rem;
} */

.restaurant-list{
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card{
  border : 0.2rem solid black;
  margin : 1rem;
  align-items: center;
  justify-content: center;
}